
var resolveTime = function (time, full) {
    var exp = getRegExp('-', 'g')
    var temp = time.replace(exp, '/')
    var d = getDate(temp)
    var now = getDate()
    var diff = (now - d) / 1000

    if (diff < 30) {
        return '刚刚'
    } else if (diff < 3600) {
        return Math.ceil(diff / 60) + '分钟前'
    } else if (diff < 3600 * 24) {
        return Math.ceil(diff / 3600) + '小时前'
    } else if (diff < 3600 * 24 * 2) {
        return '1天前'
    }

    if (getRegExp('').exec(time) == null) {
        return (d.getMonth() + 1) + '月' + d.getDate() + '日 '
    }
    return (d.getMonth() + 1) + '月' + d.getDate() + '日 ' + setDecimals(d.getHours()) + ':' + setDecimals(d.getMinutes())
}

var setDecimals = function (val) {
    return Number(val)<10? '0'+val:val
}

var changeURL = function (zone, url) {
    if (zone) {
        return zone + '?imageView2/1/w/600'
    }
    return url
}

module.exports = {
    resolveTime: resolveTime,
    changeURL: changeURL
}